@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap');

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(0deg, #F3FF75 ,#ADFF7E);
    font-family: "Baloo Chettan 2", sans-serif;
}

html {
    background: #1a1a1a;
}

.navbar {
    width: 100vw;
    height: 7vh;
    background-color: black;
    display: flex;
    align-items: center;
}

.navigation {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.navigation a {
    font-size: 18px;
    font-weight: normal;
    color: white;
    text-decoration: none;
}

.aboutProject {
    margin-right: auto;
}

.mainPageLink {
    margin-left: auto;
    margin-right: 40px;
}

.navigation a:hover {
    color: #cccccc;
}

.content-home-page h1 {
    font-size: 7vh;
    font-weight: 400;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: white;
    -webkit-text-stroke: 1px black;
    width: 44vw;
    max-width: 700px;
    margin-top: 6vh;
    margin-right: 120px;
    line-height: 86px;
}
.content-home-page img {
    width: auto;
    height: 79vh;
    padding: 0;
    margin-top: 7vh;
    border-radius: 60px 15px 60px 60px;
}

.content-home-page {
    display: flex;
    justify-content: center;
}

.text-side {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.controls {
    display: flex;
    flex-direction: column;
}

.controls button {
    font-family: inherit;
    font-size: 3vh;
    width: 437px;
    height: 151px;
    margin-top: 3vh;
    margin-left: 6vw;
    margin-bottom: 50px;
    border-radius: 60px 60px 60px 60px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
    background-color: #1a1a1a !important;
}

.content-nem-match-page {
    display: flex;
    align-items: center;
    margin-top: 7vh;
    flex-direction: column;
}


.content-nem-match-page img {
    width: 1170px;
    height: 40vh;
    border-radius: 60px 60px 60px 60px;
    object-fit: cover
}

.form-new-match {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4vh;
}

.forms {
    display: flex;
    gap: 120px;
}

.form-new-match input {
    width: 400px;
    height: 100px;
    font-size: 3vh;
    text-align: center;
    border-radius: 25px 25px 25px 25px;
    border: 2px solid black;
}

.form-new-match input::placeholder {
    color: black;
    font-size: 3vh;
    text-align: center;
    opacity: 0.4;
}

.form-first-player {
    display: flex;
    flex-direction: column;
}

.form-second-player {
    display: flex;
    flex-direction: column;
}

.forms label {
    padding-left: 25px;
    color: #000000;
}


.form-new-match button {
    font-family: inherit;
    font-size: 3vh;
    width: 350px;
    height: 150px;
    background-color: black;
    color: white;
    margin-top: 6vh;
    border-radius: 50px 50px 50px 50px;
    border: none;
    cursor: pointer;
}

.cell-name-and-image img {
    width: 350px;
    height: 305px;
    object-fit: cover;
}


.cell-type-points {
    width: 19vh;
    height: 7vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 20px 20px;
}

.table-row {
    display: flex;
    color: white;
    gap: 20px;
    align-items: flex-end;
}

.cell-name {
    width: 27vw;
    height: 19vh;
    max-width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 25px 25px 25px 25px;
    text-align: center;
}

.cell,
.cell-points {
    width: 19vh;
    height: 19vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF8000;
    border-radius: 25px 25px 25px 25px;
}

.cell-points {
    background-color: white;
    color: #10A400;
}

.content-match-score-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.match-score-tables {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 5vh;
    font-weight: 800;
    margin-top: 3vh;
}

.cells-set,
.cells-game {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cell-name-and-image {
    display: flex;
    flex-direction: column;
}

.request-submission-form {
    padding-bottom: 2vh;
}

.request-submission-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18vw;
    height: 15vh;
    max-width: 300px;
    background-color: black;
    color: white;
    border-radius: 50px 50px 50px 50px;
    font-size: 5vh;
    border: none;
    cursor: pointer;
}








